<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>matschi.books</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Book</servlet-name>
    <servlet-class>fr.afpa.matschi.book.web.App</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Book</servlet-name>
  	<url-pattern>/list</url-pattern>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
</web-app>